<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ali.project">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/if_alarm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/if_alarm_copy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SetAlarmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CalorieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".infoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Lock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Dinner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Lunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Breakfast">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Refreshment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ReminderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".teethReceiver" />
        <receiver android:name=".pillReceiver" />
        <receiver android:name=".waterReceiver" />
        <receiver android:name=".dishReceiver" />
        <receiver android:name=".clothesReceiver" />
        <receiver android:name=".rubbishReceiver" />
        <receiver android:name=".sportReceiver" />
        <receiver android:name=".petReceiver" />
        <receiver android:name=".callReceiver" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />
        <service
            android:name=".teethReminder"
            android:enabled="true" />
        <service
            android:name=".pillReminder"
            android:enabled="true" />
        <service
            android:name=".waterReminder"
            android:enabled="true" />
        <service
            android:name=".dishReminder"
            android:enabled="true" />
        <service
            android:name=".clothesReminder"
            android:enabled="true" />
        <service
            android:name=".callReminder"
            android:enabled="true" />
        <service
            android:name=".rubbishReminder"
            android:enabled="true" />
        <service
            android:name=".petReminder"
            android:enabled="true" />
        <service
            android:name=".shopReminder"
            android:enabled="true" />
        <service
            android:name=".sportReminder"
            android:enabled="true" />

    </application>

</manifest>